/* font  */
.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* font colors */
.dark2{
  color: #474747;
}
.dark1{
  color: #181818;
}
.dark3{
  color: #757575;
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5x 210px 50px 200px;
  
}

.text-primary{
color: #FD6E0A;
}
.title-name{
  font-weight: 800;
font-size: 45px;
margin: 5px 20px 50px 240px;
}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  
}
nav ul li a{
  text-decoration: none;
  margin-right: 50px;
  
}
.primary-button{
  font-size: 20px;
  padding: 19px 55px 18px 36px;
  border-radius: 5px;
  color: white;
  background-color: #FD6E0A;
  font-weight: bold;
  border: none;
}
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 0px 200px;
}
.banner-greetings{
  font-size: 45px;
  font-weight: 600px;
}
.banner-title{
  font-size: 85px;
  font-weight: 800px;

}
.banner-description{
  font-size: 18px;
  font-weight: 400px;
}




.header{
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
.download-cv{
  margin-right: 10px;
}

/* main part */
main{
  max-width: 1140px;
  margin: 77px auto;
}
.section-title{
  color: #181818;
  font-size: 35px;
}
.section-description{
  color: #757575;
  font-size: 20px;
}
.about{
  text-align: center;
  padding: 131px 157px;
}
.header-bg{
  background-color: #FFF8F3;
}
.main-bg{
  background-color: #FFF8F3;
}
.about-item{
  font-size: 20px;
  color: #757575;
  font-weight: 600;
}
.about-description{
  font-size: 20px;
  color: #181818;
  font-weight: 600;
}
.about-items{
  display: flex;
  justify-content: space-around;
  gap: 0;
  margin: 0;
}
.skill{
padding: 30px;
border-color: #181818;
border: 50px;
box-shadow: rgba(0, 0, 0, 0.06);
;
}
.skills-conteiner{
display: flex;
gap: 24px;
}
.skills{
  text-align: center;
}
.what-i-do{
  margin: 130px 346px;
  text-align: center;
}